
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <label>OPP Plan Code </label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <label>OPP Present <input type="text"></label>
                    </div>
                    <div class="col-sm-6">
                        <label>Accum Prem <input type="text"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Modal Amt </label>
                            </div>
                            <div class="col-sm-4">
                                <input type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
