<table class="table" >
    <style>
        table,
        td {
          padding: 0px;
          border: 2px solid black;
          /* border-collapse: collapse; */
        }
      </style>
    <tbody>
        <tr>
            <th scope="row">Current Dividend  &nbsp; <input type="text" size="4" style="float: centre;"> </th>
            <span class="tab"></span>
            <th scope="col"> Accumulated Paid Up-Adds &nbsp; <input type="text" style="margin:0px auto"></th>
          </tr> 
      <tr>
        <th scope="row"> Dividend Option &nbsp; <input type="text" style="width:200px; float:0cm"  > </th>
        <span class="tab"></span>
        <th scope="col">Div Interest Amt(2019) &nbsp; <input type="text"></th>
      </tr>
      <tr>
        <th scope="row">Dividend deposits  &nbsp; <input type="text"> </th>
        <span class="tab"></span>
        <th scope="col">Div Interest Amt() &nbsp; <input type="text"></th>
      </tr>
      <tr>
        <th scope="row">Paid Up Adds  &nbsp; <input type="text"> </th>
        <span class="tab"></span>
        <th scope="col">Loan Payoff by Div &nbsp; <input type="text"></th>
      </tr>
      <tr>
        <th scope="row">Cash Val of Pd up Adds  &nbsp; <input type="text"> </th>
        <span class="tab"></span>
        <th scope="col">Add Val Off Accptd &nbsp; <input type="text"></th>
      </tr>
      <tr>
        <th scope="row">Whole Life Adds  &nbsp; <input type="text"> </th>
        <span class="tab"></span>
        <th scope="col">One Year Term &nbsp; <input type="text"></th>
      </tr>
      <tr>
        <th scope="row">Cash Value of Whole Life Adds  &nbsp; <input type="text"> </th>
        <span class="tab"></span>
        <th scope="col">One Year Term Prem &nbsp; <input type="text"></th>
      </tr>
      
      
      
    </tbody>
  </table>
    
    
            