<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <div class="row">
        <div class="col-sm">
          <label >Current Dividend <input type="text"  ></label> 
        </div>
        <div class="col-sm">
          <label >Accumulated Paid Up-Adds <input type="text" ></label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <label >Dividend Option <input type="text" ></label>  
        </div>
        <div class="col-sm">
          <label >Div Interest Amt(2019) <input type="text" ></label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <label >Dividend deposits <input type="text" size="18em" ></label>  
        </div>
        <div class="col-sm">
          <label >Div Interest Amt() <input type="text" size="18em" ></label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <label >Paid Up Adds <input type="text" size="18em" ></label>  
        </div>
        <div class="col-sm">
          <label >Loan Payoff by Div <input type="text" size="18em" ></label>
        </div>
      </div>        
    
    <div class="row">
      <div class="col-sm">
        <label >Cash Val of Pd up Adds  <input type="text" size="18em" ></label>
      </div>
      <div class="col-sm">
        <label >Add Val Off Accptd <input type="text" size="18em" ></label>  
      </div>
  </div> 
  <div class="row">
    <div class="col-sm">
      <label >Whole Life Adds <input type="text" size="18em" ></label>
    </div>
    <div class="col-sm">
      <label >One Year Term <input type="text" size="18em" ></label>  
    </div>
</div> 
<div class="row">
  <div class="col-sm-7">
    <label >Cash Value of Whole Life Adds <input type="text"  ></label>
  </div>
  <div class="col-sm-5">
    <label >One Year Term Prem <input type="text"  ></label>  
  </div>
</div> 
  </div>
</div>
   
            