<table class="table" >
    <style>
        table,
        td {
          padding: 0px;
          border: 2px solid black;
          /* border-collapse: collapse; */
        }
      </style>
    <tbody>
        <tr>
            <th scope="row">Requested Div Amt  &nbsp; <input type="text" size="4" margin-right="0"> </th>
            <span class="tab"></span>
            <th scope="col"> Fed/State Gain Amt &nbsp; <input type="text"></th>
          </tr> 
      <tr>
        <th scope="row"> Current Federal Withholding &nbsp; <input type="text"> </th>
        <span class="tab"></span>
        <th scope="col">Fed Gain Withheld &nbsp; <input type="text"></th>
      </tr>
      <tr>
        <th scope="row">Current State Withholding  &nbsp; <input type="text"> </th>
        <span class="tab"></span>
        <th scope="col">State Gain Withheld &nbsp; <input type="text"></th>
      </tr>
      <tr>
        <th scope="row">Informational Federal Withholding  &nbsp; <input type="text"> </th>
        <span class="tab"></span>
        <th scope="col">Net Div Check &nbsp; <input type="text"></th>
      </tr>
      <tr>
        <th scope="row">Informational State Withholding   &nbsp; <input type="text"> </th>
        <span class="tab"></span>
        <th scope="col">Total Div Withdrawal &nbsp; <input type="text"></th>
      </tr>
      <tr>
        <th scope="row">Mod Endow Ind  &nbsp; <input type="text"> </th>
        <span class="tab"></span>
        <th scope="col"></th>
      </tr>
      
      
    </tbody>
  </table>
    
    
            