<form [formGroup]="CalcQuoteForm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <label>Requested Div Amt </label>
            </div>
            <div class="col-sm-6">
              <input type="text" formControlName="ReqDivAmt">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Current Federal Withholding </label>
            </div>
            <div class="col-sm-6">
              <input type="text" formControlName="CFW">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Current State Withholding </label>
            </div>
            <div class="col-sm-6">
              <input type="text" formControlName="CSW">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Informational Federal Withholding  </label>
            </div>
            <div class="col-sm-6">
              <input type="text" formControlName="IFW">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Informational State Withholding </label>
            </div>
            <div class="col-sm-6">
              <input type="text" formControlName="ISW">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Mod Endow Ind </label>
            </div>
            <div class="col-sm-6">
              <input type="text" formControlName="ModEndInd">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <label>Fed/State Gain Amt </label>
            </div>
            <div class="col-sm-6">
              <input type="text" formControlName="FGA">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Fed Gain Withheld </label>
            </div>
            <div class="col-sm-6">
              <input type="text" formControlName="FGW">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>State Gain Withheld </label>
            </div>
            <div class="col-sm-6">
              <input type="text" formControlName="SGW">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Net Div Check </label>
            </div>
            <div class="col-sm-6">
              <input type="text" formControlName="NetDivChk">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Total Div Withdrawal </label>
            </div>
            <div class="col-sm-6">
              <input type="text" formControlName="TotDivWith">
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</form>



   
            