<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <div class="row">
        <div class="col-sm">
          <label> Requested Div Amt <input type="text"  ></label> 
        </div>
        <div class="col-sm">
          <label> Fed/State Gain Amt <input type="text" ></label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <label >Current Federal Withholding <input type="text"  ></label> 
        </div>
        <div class="col-sm">
          <label >Fed Gain Withheld <input type="text" ></label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <label >Current State Withholding <input type="text"  ></label> 
        </div>
        <div class="col-sm">
          <label >State Gain Withheld <input type="text" ></label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <label >Informational Federal Withholding <input type="text"  ></label> 
        </div>
        <div class="col-sm">
          <label >Net Div Check <input type="text" ></label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <label >Informational State Withholding <input type="text"  ></label> 
        </div>
        <div class="col-sm">
          <label >Total Div Withdrawal <input type="text" ></label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <label >Mod Endow Ind <input type="text"  ></label> 
        </div>
      </div>
    </div>
    </div>
    </div>
 