<form [formGroup]="DivQuoteForm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <label>Prem Pd to dt </label>
            </div>
            <div class="col-sm-6">
              <input type="text" formControlName="PremPdtoDt">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Next Activity Date </label>
            </div>
            <div class="col-sm-6">
              <input type="text" formControlName="NextActDt">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Max Div. </label>
            </div>
            <div class="col-sm-6">
              <input type="text" formControlName="MaxDiv">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Div. Overpayment </label>
            </div>
            <div class="col-sm-6">
              <input type="text" formControlName="DivOverpay">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Cash Val OPP Paid-up Adds </label>
            </div>
            <div class="col-sm-6">
              <input type="text" formControlName="CVOPUA">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Mod Endow Ind </label>
            </div>
            <div class="col-sm-6">
              <input type="text" formControlName="ModEndInd">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <label>Anniv Year </label>
            </div>
            <div class="col-sm-6">
              <input type="text" formControlName="AnnivYr">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Loan Int Paid to Date </label>
            </div>
            <div class="col-sm-6">
              <input type="text" formControlName="LoanIntPdtoDt">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Loan Amount </label>
            </div>
            <div class="col-sm-6">
              <input type="text" formControlName="LoanAmt">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Loan Interest Rate </label>
            </div>
            <div class="col-sm-6">
              <input type="text" formControlName="LoanIntRt">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Variance Codes </label>
            </div>
            <div class="col-sm-6">
              <input type="text" formControlName="VarianceCd">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

