<table class="table" >
    <style>
        table,
        td {
          padding: 0px;
          border: 2px solid black;
          /* border-collapse: collapse; */
        }
      </style>
    <tbody>
        <tr>
            <th scope="row">Prem Pd to dt  &nbsp; <input type="text" size="4" margin-right="0"> </th>
            <span class="tab"></span>
            <th scope="col">Anniv Yr &nbsp; <input type="text"></th>
          </tr> 
      <tr>
        <th scope="row">Next activity dt &nbsp; <input type="text"> </th>
        <span class="tab"></span>
        <th scope="col">Loan interest pd to dt &nbsp; <input type="text"></th>
      </tr>
      <tr>
        <th scope="row">Max div  &nbsp; <input type="text"> </th>
        <span class="tab"></span>
        <th scope="col">Loan amount &nbsp; <input type="text"></th>
      </tr>
      <tr>
        <th scope="row">Div overpayment          &nbsp; <input type="text"> </th>
        <span class="tab"></span>
        <th scope="col">Loan interest rate &nbsp; <input type="text"></th>
      </tr>
      <tr>
        <th scope="row">Div overpayment dt           &nbsp; <input type="text"> </th>
        <span class="tab"></span>
        <th scope="col"></th>
      </tr>
      <tr>
        <th scope="row">Cash val OPP Pd up Adds  &nbsp; <input type="text"> </th>
        <span class="tab"></span>
        <th scope="col"></th>
      </tr>
      <tr>
        <th scope="row">Mod Endow Ind  &nbsp; <input type="text"> </th>
        <span class="tab"></span>
        <th scope="col"> Variance codes &nbsp; <input type="text"></th>
      </tr>
      
    </tbody>
  </table>
    
    
            