<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="row">
        <div class="col-sm">
          <label >Prem Pd to dt <input type="text"  ></label> 
        </div>
        <div class="col-sm">
          <label >Anniv Yr <input type="text" ></label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <label >Next activity Dt <input type="text" ></label>  
        </div>
        <div class="col-sm">
          <label >Loan interest paid to dt <input type="text" ></label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <label >Max div. <input type="text" size="18em" ></label>  
        </div>
        <div class="col-sm">
          <label >Loan Interest amt <input type="text" size="18em" ></label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <label >Div overpayment <input type="text" size="18em" ></label>  
        </div>
        <div class="col-sm">
          <label >Div overpayment date <input type="text" size="18em" ></label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <label >Cash Val OPP paid up adds <input type="text" size="18em" ></label>  
        </div>
        
      </div>
      <div class="row">
        <div class="col-sm">
          <label >Mod Endow Ind  <input type="text" size="18em" ></label>
        </div>
        <div class="col-sm">
          <label >Variance codes <input type="text" size="18em" ></label>  
        </div>
    </div> 
  </div>
</div>

