<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
        <label> Annual Standard Base Prem Amount <input type="text"  ></label> 
    </div>
    <div class="col-sm">
      <label >Current Year Accum OPP Rider Prem Amt <input type="text"  ></label> 
    </div>
    <div class="col-sm">
       <label> Prior Year Accum OPP Rider Prem Amt <input type="text" ></label>
    </div>
    <div class="col-sm">
       <label >Next Year Accum OPP Rider Prem Amt <input type="text"  ></label> 
    </div>
    <div class="col-sm">
       <label >Total OPP Rider Prem Paid Amt <input type="text" ></label>
    </div>
    <div class="col-sm">
       <label >OPP Rider Exception Cod <input type="text"  ></label> 
    </div>
   </div>
  </div>
    
    
            