<table class="table" >
    <style>
        table,
        td {
          padding: 0px;
          border: 2px solid black;
          /* border-collapse: collapse; */
        }
      </style>
    <tbody>
        <tr>
            <th scope="row">Annual Standard Base Prem Amount  &nbsp; <input type="text" size="4" style="float: centre;"> </th>
            <span class="tab"></span>
        </tr> 
      <tr>
        <th scope="row"> Current Year Accum OPP Rider Prem Amt &nbsp; <input type="text" style="width:200px; float:0cm"  > </th>
        <span class="tab"></span>
      </tr>
      <tr>
        <th scope="row">Prior Year Accum OPP Rider Prem Amt  &nbsp; <input type="text"> </th>
        <span class="tab"></span>
      </tr>
      <tr>
        <th scope="row">Next Year Accum OPP Rider Prem Amt  &nbsp; <input type="text"> </th>
        <span class="tab"></span>
      </tr>
      <tr>
        <th scope="row">Total OPP Rider Prem Paid Amt &nbsp; <input type="text"> </th>
        <span class="tab"></span>
      </tr>
      <tr>
        <th scope="row">OPP Rider Exception Code  &nbsp; <input type="text"> </th>
        <span class="tab"></span>
      </tr>
           
    </tbody>
  </table>
    
    
            