<table class="table" >
    <style>
        table,
        td {
          padding: 0px;
          border: 2px solid black;
          /* border-collapse: collapse; */
        }
      </style>
    <tbody>
        <tr>
            <th scope="row">OPP Plan Code  &nbsp; <input type="text" size="4" style="float: centre;"> </th>
            <span class="tab"></span>
            <th scope="col"> Modal Amt &nbsp; <input type="text" style="margin:0px auto"></th>
          </tr> 
      <tr>
        <th scope="row"> OPP Present &nbsp; <input type="text" style="width:200px; float:0cm"  > </th>
        <span class="tab"></span>
        <th scope="col">Accum Prem &nbsp; <input type="text"></th>
      </tr>
      <tr>
        <th scope="row">OPP Type  &nbsp; <input type="text"> </th>
        <span class="tab"></span>
        <th scope="col">Accum paid up-adds &nbsp; <input type="text"></th>
      </tr>
      <tr>
        <th scope="row">OPP Agent  &nbsp; <input type="text"> </th>
        <span class="tab"></span>
        <th scope="col">No Good Check Ind &nbsp; <input type="text"></th>
      </tr>
      <tr>
        <th scope="row">OPP Rider Eff Dt  &nbsp; <input type="text"> </th>
        <span class="tab"></span>
        <th scope="col">No Good Check Dt &nbsp; <input type="text"></th>
      </tr>
      <tr>
        <th scope="row">AD Year  &nbsp; <input type="text"> </th>
        <span class="tab"></span>
        <th scope="col">Current Expense Charge &nbsp; <input type="text"></th>
      </tr>
      <tr>
        <th scope="row">OPP Rating Class  &nbsp; <input type="text"> </th>
        <span class="tab"></span>
        <th scope="col"></th>
      </tr>
      
    </tbody>
  </table>
    
    
            