<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="row">
        <div class="col-sm">
          <label >OPP Plan Code <input type="text"  ></label> 
        </div>
        <div class="col-sm">
          <label >Modal Amt <input type="text" ></label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <label >OPP Present <input type="text" ></label>  
        </div>
        <div class="col-sm">
          <label >Accum Prem <input type="text" ></label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <label >OPP Type <input type="text" size="18em" ></label>  
        </div>
        <div class="col-sm">
          <label >Accum paid up-adds <input type="text" size="18em" ></label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <label >OPP Agent <input type="text" size="18em" ></label>  
        </div>
        <div class="col-sm">
          <label >No Good Check Ind <input type="text" size="18em" ></label>
        </div>
      </div>        
    
    <div class="row">
      <div class="col-sm">
        <label >OPP Rider Eff Dt  <input type="text" size="18em" ></label>
      </div>
      <div class="col-sm">
        <label >No Good Check Dt <input type="text" size="18em" ></label>  
      </div>
  </div> 
  <div class="row">
    <div class="col-sm">
      <label >OPP Rider Eff Dt  <input type="text" size="18em" ></label>
    </div>
    <div class="col-sm">
      <label >No Good Check Dt <input type="text" size="18em" ></label>  
    </div>
</div> 
  </div>
</div>

    
    
            