<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <div class="row">
        <div class="col-sm">
          <label >Loan Interest Pd to Dt <input type="text"  ></label> 
        </div>
        <div class="col-sm">
          <label >Current Cash Value <input type="text" ></label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <label >Loan Amount <input type="text"  ></label> 
        </div>
        <div class="col-sm">
          <label >Curr Incr in Cash Value <input type="text" ></label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <label >Loan Interest Rate <input type="text"  ></label> 
        </div>
        <div class="col-sm">
          <label >Prior Incr in Cash Value <input type="text" ></label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <label >Auto Prem Loan Ct <input type="text"  ></label> 
        </div>
        <div class="col-sm">
          <label >DPPO <input type="text" ></label>
        </div>
      </div>
    </div>
    </div>
    </div>
    
            