<form [formGroup]="loanForm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <label>Loan Interest Pd to Dt </label>
            </div>
            <div class="col-sm-6">
              <input type="text" formControlName="LoanIntPdtoDt">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Loan Amount </label>
            </div>
            <div class="col-sm-6">
              <input type="text" formControlName="LoanAmt">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Loan Interest Rate </label>
            </div>
            <div class="col-sm-6">
              <input type="text" formControlName="LoanIntRt">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Auto Prem Loan Ct </label>
            </div>
            <div class="col-sm-6">
              <input type="text" formControlName="AutoPremLoanCT">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <label>Current Cash Value </label>
            </div>
            <div class="col-sm-6">
              <input type="text" formControlName="CurrCashVal">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Current Incr in Cash Value </label>
            </div>
            <div class="col-sm-6">
              <input type="text" formControlName="CurrIncCV">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Prior Incr in Cash Value </label>
            </div>
            <div class="col-sm-6">
              <input type="text" formControlName="PriorIncCV">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>DPPO </label>
            </div>
            <div class="col-sm-6">
              <input type="text" formControlName="DPPO">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>