<table class="table" >
    <style>
        table,
        td {
          padding: 0px;
          border: 2px solid black;
          /* border-collapse: collapse; */
        }
      </style>
    <tbody>
        <tr>
            <th scope="row">Loan Interest Pd to Dt  &nbsp; <input type="text" size="4" margin-right="0"> </th>
            <span class="tab"></span>
            <th scope="col"> Current Cash Value &nbsp; <input type="text"></th>
          </tr> 
      <tr>
        <th scope="row"> Loan Amount &nbsp; <input type="text"> </th>
        <span class="tab"></span>
        <th scope="col">Curr Incr in Cash Value &nbsp; <input type="text"></th>
      </tr>
      <tr>
        <th scope="row">Loan Interest Rate  &nbsp; <input type="text"> </th>
        <span class="tab"></span>
        <th scope="col">Prior Incr in Cash Value &nbsp; <input type="text"></th>
      </tr>
      <tr>
        <th scope="row">Auto Prem Loan Ct  &nbsp; <input type="text"> </th>
        <span class="tab"></span>
        <th scope="col">DPPO &nbsp; <input type="text"></th>
      </tr>
      
      
      
    </tbody>
  </table>
    
    
            